@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 0 0% 98%; /* Light gray background */
    --foreground: 0 0% 20%; /* Dark gray for text */
    --card: 0 0% 98%; /* Same light gray as background */
    --card-foreground: 0 0% 20%; /* Dark gray for card text */
    --popover: 0 0% 98%; /* Light gray for popovers */
    --popover-foreground: 0 0% 20%; /* Dark gray for popover text */
    --primary: 0 0% 50%; /* Medium gray */
    --primary-foreground: 0 0% 100%; /* White */
    --secondary: 0 0% 90%; /* Very light gray */
    --secondary-foreground: 0 0% 10%; /* Almost black */
    --muted: 0 0% 95%; /* Light gray for muted elements */
    --muted-foreground: 0 0% 40%; /* Mid-gray for muted text */
    --accent: 0 0% 90%; /* Very light gray */
    --accent-foreground: 0 0% 20%; /* Dark gray */
    --destructive: 0 50% 50%; /* Red tone remains for destructive actions */
    --destructive-foreground: 0 0% 100%; /* White for destructive foreground */
    --border: 0 0% 82%; /* Gray for borders */
    --input: 0 0% 70%; /* Medium gray for inputs */
    --ring: 0 0% 50%; /* Gray ring */
    --radius: 0.5rem;
  }

  .dark {
    --background: 200 6% 10%;
    --foreground: 0 0% 100%;
    --card: 200 7% 14%;
    --card-foreground: 0 0% 100%;
    --popover: 200 7% 14%;
    --popover-foreground: 0 0% 100%;
    --primary: 200 100% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 200 5% 18%;
    --secondary-foreground: 0 0% 100%;
    --muted: 200 5% 18%;
    --muted-foreground: 0 0% 63%;
    --accent: 200 5% 18%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 200 6% 20%;
    --input: 200 6% 20%;
    --ring: 200 100% 50%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer base {
  img {
    display: initial;
  }
}

/* styles/tailwind.css */
@layer utilities {
  @media print {
    html, body {

    }
    .grid {
      grid-template-columns: 1fr 1fr;
    }

    .p-6 {
      padding: 10px !important;
    }

    .text-center {
      text-align: center;
    }

    .hidden {
      display: none !important;
    }
  }
}
